################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/BlazorApp/bin
/obj
/BlazorApp/obj
/BlazorApp/.vs
/.vs
/BlazorApp/Client/bin
/BlazorApp/Client/obj
/BlazorApp/Server/bin
/BlazorApp/Server/obj
/BlazorApp/Shared/bin
/BlazorApp/Shared/obj
