################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorApp/.vs/BlazorApp
/.vs/BlazorApp/FileContentIndex
/BlazorApp/bin
/BlazorApp/obj
/.vs/BlazorApp/v17
