################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/BlazorApp/bin
/obj
/BlazorApp/obj
/BlazorApp/.vs
/.vs
